name: Pinguino Publish

on: push

jobs:
  publish:

    runs-on: ubuntu-20.04

    steps:

      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Get Added Files
        id: files
        uses: jitterbit/get-changed-files@v1

      - name: Add Files to ENV Variable
        run: |
          for changed_file in ${{ steps.files.outputs.all }}; do
            echo "latest_build_url=https://github.com/JamCoreDiscord/builds/tree/main/${changed_file}" >> $GITHUB_ENV
          done

      #- name: Ping API
      #  id: pingRequest
      #  uses: fjogeleit/http-request-action@master
      #  with:
      #    method: GET
      #    url: ${{  secrets.API_PING  }}

      #- name: Check API Response
      #  run: |
      #    if [[ ${{ steps.pingRequest.outputs.response  }} != *"success"*  ]]; then
      #      exit 1
      #    fi

      #- name: Make API Request
      #  id: request
      #  uses: fjogeleit/http-request-action@master
      #  with:
      #    method: POST
      #    url: ${{  secrets.API_UPLOAD  }}
      #    data: "{\"build_url\": \"${{  env.latest_build_url  }}\"}"            
      #- name: Show Response
      #  run: echo ${{ steps.request.outputs.response }}

      - name: Make API Request
        id: request
        uses: satak/webrequest-action@master
        with:
          method: POST
          url: ${{  secrets.API_UPLOAD  }}
          payload: '{"build_url": ${{ env.latest_build_url  }}}'
      - name: Show API Response
        run: |
          $output = '${{ steps.request.outputs.output }}' | ConvertFrom-Json
          Write-Host "Status Code: $($output.statusCode)"
