name: Pinguino Publish

on: push
jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Ping API
        id: pingRequest
        uses: fjogeleit/http-request-action@master
        with:
          method: GET
          url: "https://dog.ceo/api/breeds/image/random"
      - name: Check API Response
        if: "!contains(${{ steps.pingRequest.outputs.response  }}, 'success')"
        run: exit 1
      - name: Get Added File
        uses: jitterbit/get-changed-files@v1
